 #banner {
  background-image: url("banner.jpg");
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.questions {
  text-align: center;
  background-color: #f1f1f1;
  color: #545454;

}

.container {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 10px;
}

#footer {
  border: 1px solid;
  background: #545454;
  height: 75px;
}

p {
  text-align: center;
  margin-top: 45px;
  color: #d3d3d3;
}

h1 {
  color: #545454;
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h2 span {
    background: #f1f1f1 ;
    padding:0 10px;
}

#question2 {
  padding-top: 75px;
}

#question3 {
  padding-top: 75px;
}

#question4 {
  padding-top: 75px;
}

#question5 {
  padding-top: 75px;
}

#question6 {
  padding-top: 75px;
  padding-bottom: 20px;
}