body {
	margin:0px;

}
h1 {
	font-size: 40px;
	color:#363636;
}
#imgBanner {
	background-image: url("banner.jpg");
	height:240px;
	width: 100%;
	position: relative;
	border-top:1px solid #5C5C5C;
	margin-bottom: 100px;

}

#answerMaster {
	margin:80px;
}



h2 {
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 0;
    font-size: 40px;
}

h2 span {
    background: #fff;
    padding: 0 15px;
}


.answerDiv {
	text-align:justify;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #5C5C5C;
	background-color: #F7F7F7;
	padding: 20px;
	overflow: scroll;

}



hr {
	position:relative;
	top:-30px;
	z-index: 2;
}

#footer {
	height: 200px;
	width: 100%;
	background-color: #5C5C5C;
	position: relative;
	top:100px;
}